body {
    background-color: #3a3838;
  }
  
  header, nav {
    text-align: center;
  }
  
  header {
    background: #f7f7f7;
    padding: 1px;
    width: 700px;
    margin-left: 120px;
  }
  
  nav {
      margin-top: 6px;
      background: #f7f7f7;
      padding: 22px;
      width: 660px;
      margin-left: 120px;
  }
  
  .col-md-6 {
      padding: 130px;
      background: #f7f7f7;
      margin: 7px;
      margin-right: 127px;
      float: right;
      width: 70px;
  }
  
  .col-md-5 {
      margin: 7px;
      padding: 90px;
      width: 165px;
      height: 100px;
      background: #f7f7f7;
      float: left;
      margin-left: 120px;
  }
  
  .col-md-4 {
    background: #3a3838;
    padding: 35px;
    width: 160px;
    height: 100px;
    text-align: center;
  }

  .col-sm-1 {
    background: #f7f7f7;
    padding: 5px;
    margin-bottom: 2px;
    text-align: center;
  }

  .col-sm-2 {
    background: #f7f7f7;
    padding: 5px;
    width: 150px;
    text-align: center;
  }
  
  .footer {
      position: fixed;
      left: 0;
      bottom: 145px;
      background: #f7f7f7;
      width: 680px;
      padding: 12px;
      margin-left: 130px;
      text-align: center;
  }