body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
  }
  
  header, nav, .col-md-6, .col-md-5, .footer {
    background: #ebebeb;
  }

  header, nav {
    text-align: center;
  }
  
  header {
    background: #f7f7f7;
    padding: 1px;
    width: 1150px;
    margin-left: 120px;
  }
  
  nav {
      margin-top: 6px;
      background: #f7f7f7;
      padding: 22px;
      width: 1110px;
      margin-left: 120px;
  }
  
  .col-md-6 {
    padding: 150px;
    background: #f7f7f7;
    margin: 7px; 
    float: right;
  }
  
  .col-md-5 {
    margin: 7px;
    margin-left: 120px;
    padding: 100px;
    height: 130px;
    background: #f7f7f7;
    float: left;
  }
  
  .col-md-4 {
    background: #3a3838;
    padding: 50px;
    width: 160px;
    height: 100px;
    text-align: center;
  }

  .col-sm-1 {
    background: #f7f7f7;
    padding: 5px;
    margin-bottom: 2px;
    text-align: center;
  }

  .col-sm-2 {
    background: #f7f7f7;
    padding: 5px;
    width: 150px;
    text-align: center;
  }
  
  .footer {
      position: fixed;
      left: 0;
      bottom: 90px;
      background: #f7f7f7;
      width: 1110px;
      padding: 12px;
      margin-left: 130px;
      text-align: center;
  }